body{
font-family: 'Source Sans Pro', sans-serif;
color: #354b63 
}

.quote{
    border-left: 5px solid #bdc7cf;
    padding-left: 5px;
    }

.date{
font-family: 'Source Sans Pro', sans-serif;
text-transform: uppercase;
color: #3098dd
}

div{
    width: 80%;
    border: 20px solid #bdc7cf;
    padding: 20px;
    margin: 20px auto;
}